body {
background-color: #12de7b;

}
table {
background-color: #bedc1470;
width: 1000px;
}
caption {
    padding: 30px;
    font-size: 50px;
    font-weight: bold;
    background-image: url("./bilder/cloth.jpg");
}
tr {

}
th {
padding: 20px;
font-size: 30px;
}
td {
background-color: #ffffff;
padding: 10px;
}
img {
    width: 180px;
}